{% extends 'todo/base.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Add</button>
</form>
<ul>
{% for task in tasks %}
        <li>
            {% if task.complete %}
            <span class='complete'>{{task.task}}</span>
            {% else %}
             <span class='uncomplete' >{{task.task}}</span>
            {% endif %}
            <div class="task-details">
                <span class="task-date">{{ task.date }}</span>
                <span class="task-time">{{ task.time }}</span>
            </div>
            <div class="task-buttons">
                <a href="{% url 'delete' task.id %}"><button>Delete</button></a>
                <a href="{% url 'Edit' task.id %}"><button>Edit</button></a>
                {% if not task.complete %}
                <a href="{% url 'complete' task.id %}"><button>Completed</button></a>
                {% endif %}
            </div>
        </li>
{% empty %}
    <p>There are no tasks for you, Sir/Madam</p>
{% endfor %}
</ul>
{% endblock body %}

